<html>
	<head>
		<title>Agnieszka's blog</title>
	</head>
	<body>
		<div>
			<h1>Django Girls Blog</h1>
		</div>

		<div>
			<p>published: 1.07.2015, 12:04</p>
			<h2>My first post</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div>
			<p>Published: 10.07.2015, 20:00</p>
			<h2>My second post</h2>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</body>	
</html>